{{>layouts/header}}          <!-- 기존 레이아웃 헤더 include -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/main.min.css" rel="stylesheet"/>
<link href="/css/todos/calendar.css" rel="stylesheet"/>  <!-- 직접 만든 CSS -->

<div id="calendar"></div>    <!-- 달력이 그려질 영역 -->

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
<script src="/js/todos/calendar.js"></script>  <!-- 직접 만든 JS -->


{{>layouts/footer}}
