{{>layouts/header}}

<style>
    .status-text{
        display : none;
    }

    .status-sec{
        margin: 50px;
    }

    .fixed-table{
        table-layout: fixed;
        width: 75%;
    }

    .fixed-table th, .fixed-table td{
        width: 100%;
        word-wrap: break-word;  /* 요소가 튀어나가지 않게 한도내에서 강제 줄바꿈 */
    }

    .btn-custom {
        border-radius: 20px !important;          /* 둥근 모서리 적용 */
        padding: 8px 16px;            /* 내부 여백 조절 */
        font-size: 14px;              /* 폰트 크기 조절 */
        transition: all 0.2s ease;    /* 호버 시 부드러운 변환 효과 */
        margin-left: 5px;
    }
    .btn-custom:hover {
        /* 호버 시 살짝 밝은 배경색 또는 그림자 효과 추가 */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
    .btn-select-category {
        margin: 20px;
    }

</style>

<div class="btn-group btn-select-category" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" checked>
    <label class="btn btn-outline-primary btn-custom" for="btncheck1">전체</label>

    {{#categories}}
        <input type="checkbox" class="btn-check" id="btncheck-{{.}}" autocomplete="off" checked>
        <label class="btn btn-outline-info btn-custom" for="btncheck-{{.}}">{{.}}</label>
    {{/categories}}
</div>

<section class="status-sec">
    <h2>준비</h2>
    <table class="table fixed-table">
        <thead>
            <tr>
                <th>번호</th>
                <th>카테고리</th>
                <th>작업</th>
                <th>상태변경</th>
            </tr>
        </thead>
        <tbody>
            {{#readyList}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{category}}</td>
                    <td>
                        {{title}}
                        <button type="button" class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#task-edit-modal"
                                data-bs-id="{{id}}"
                                data-bs-category="{{category}}"
                                data-bs-title="{{title}}"
                                data-bs-status="{{status}}">
                            수정
                        </button>

                        <button type="button" class="btn btn-sm btn-outline-danger task-delete-btn"
                                data-task-id="{{id}}">삭제</button>
                    </td>
                    <td class="status-text" data-status="{{status}}">{{status}}</td>  <!-- Mustache 값 활용, css에서 숨김처리함 -->
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-outline-primary status-btn btn-custom {{#isReady}}active{{/isReady}}" data-id="{{id}}" data-status="준비">준비</button>
                            <button class="btn btn-outline-warning status-btn btn-custom {{#isProceed}}active{{/isProceed}}" data-id="{{id}}" data-status="진행중">진행중</button>
                            <button class="btn btn-outline-danger status-btn btn-custom {{#isStop}}active{{/isStop}}" data-id="{{id}}" data-status="중단됨">중단됨</button>
                            <button class="btn btn-outline-success status-btn btn-custom {{#isCompleted}}active{{/isCompleted}}" data-id="{{id}}" data-status="완료">완료</button>
                        </div>
                    </td>
                </tr>
            {{/readyList}}
        </tbody>
    </table>
</section>

<section class="status-sec">
    <h2>진행중</h2>
    <table class="table fixed-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>작업</th>
            <th>상태변경</th>
        </tr>
        </thead>
        <tbody>
        {{#inProgressList}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td>
                    {{title}}
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#task-edit-modal"
                            data-bs-id="{{id}}"
                            data-bs-category="{{category}}"
                            data-bs-title="{{title}}"
                            data-bs-status="{{status}}">
                        수정
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-danger task-delete-btn"
                            data-task-id="{{id}}">삭제</button>
                </td>
                <td class="status-text" data-status="{{status}}">{{status}}</td>  <!-- Mustache 값 활용, css에서 숨김처리함 -->
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary status-btn btn-custom {{#isReady}}active{{/isReady}}" data-id="{{id}}" data-status="준비">준비</button>
                        <button class="btn btn-outline-warning status-btn btn-custom {{#isProceed}}active{{/isProceed}}" data-id="{{id}}" data-status="진행중">진행중</button>
                        <button class="btn btn-outline-danger status-btn btn-custom {{#isStop}}active{{/isStop}}" data-id="{{id}}" data-status="중단됨">중단됨</button>
                        <button class="btn btn-outline-success status-btn btn-custom {{#isCompleted}}active{{/isCompleted}}" data-id="{{id}}" data-status="완료">완료</button>
                    </div>
                </td>
            </tr>
        {{/inProgressList}}
        </tbody>
    </table>
</section>

<section class="status-sec">
    <h2>중단됨</h2>
    <table class="table fixed-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>작업</th>
            <th>상태변경</th>
        </tr>
        </thead>
        <tbody>
        {{#stoppedList}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td>
                    {{title}}
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#task-edit-modal"
                            data-bs-id="{{id}}"
                            data-bs-category="{{category}}"
                            data-bs-title="{{title}}"
                            data-bs-status="{{status}}">
                        수정
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-danger task-delete-btn"
                            data-task-id="{{id}}">삭제</button>
                </td>
                <td class="status-text" data-status="{{status}}">{{status}}</td>  <!-- Mustache 값 활용, css에서 숨김처리함 -->
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary status-btn btn-custom {{#isReady}}active{{/isReady}}" data-id="{{id}}" data-status="준비">준비</button>
                        <button class="btn btn-outline-warning status-btn btn-custom {{#isProceed}}active{{/isProceed}}" data-id="{{id}}" data-status="진행중">진행중</button>
                        <button class="btn btn-outline-danger status-btn btn-custom {{#isStop}}active{{/isStop}}" data-id="{{id}}" data-status="중단됨">중단됨</button>
                        <button class="btn btn-outline-success status-btn btn-custom {{#isCompleted}}active{{/isCompleted}}" data-id="{{id}}" data-status="완료">완료</button>
                    </div>
                </td>
            </tr>
        {{/stoppedList}}
        </tbody>
    </table>
</section>

<section class="status-sec">
    <h2>완료</h2>
    <table class="table fixed-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>작업</th>
            <th>상태변경</th>
        </tr>
        </thead>
        <tbody>
        {{#completedList}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td>
                    {{title}}
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#task-edit-modal"
                            data-bs-id="{{id}}"
                            data-bs-category="{{category}}"
                            data-bs-title="{{title}}"
                            data-bs-status="{{status}}">
                        수정
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-danger task-delete-btn"
                            data-task-id="{{id}}">삭제</button>
                </td>
                <td class="status-text" data-status="{{status}}">{{status}}</td>  <!-- Mustache 값 활용, css에서 숨김처리함 -->
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary status-btn btn-custom {{#isReady}}active{{/isReady}}" data-id="{{id}}" data-status="준비">준비</button>
                        <button class="btn btn-outline-warning status-btn btn-custom {{#isProceed}}active{{/isProceed}}" data-id="{{id}}" data-status="진행중">진행중</button>
                        <button class="btn btn-outline-danger status-btn btn-custom {{#isStop}}active{{/isStop}}" data-id="{{id}}" data-status="중단됨">중단됨</button>
                        <button class="btn btn-outline-success status-btn btn-custom {{#isCompleted}}active{{/isCompleted}}" data-id="{{id}}" data-status="완료">완료</button>
                    </div>
                </td>
            </tr>
        {{/completedList}}
        </tbody>
    </table>
</section>

<div class="card m-2" id="todo-new">
    <div class="card-body">
        <!-- 할일 추가 폼 -->
        <form action="/todos/add" method="post">
            <div class="mb-3">
                <label for="new-task-category" class="form-label">카테고리</label>
                <input type="text" class="form-control" id="new-task-category" name="category">
            </div>

            <div class="mb-3">
                <label for="new-task-name" class="form-label">작업이름</label>
                <input type="text" class="form-control" id="new-task-name" name="title">
            </div>

            <button type="submit" class="btn btn-primary" id="task-add-btn">작업 추가</button>
        </form>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="task-edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">작업 이름 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="edit-task-category" class="form-label">카테고리</label>
                        <input type="text" class="form-control" id="edit-task-category">
                    </div>

                    <div class="mb-3">
                        <label for="edit-task-title" class="form-label">작업이름</label>
                        <input type="text" class="form-control" id="edit-task-title">
                    </div>
                    <input type="hidden" id="edit-task-id">
                    <input type="hidden" id="edit-task-status">

                    <button type="button" class="btn btn-primary" id="task-edit-btn">수정하기</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/todos/index.js"></script>

{{>layouts/footer}}